@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    color: white;
    background-color: #576366;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}


.navbar ul {
    display: flex;
    list-style-type: none;
}


.navbar ul li {
    /* color: white; */
    margin-left: 20px;
}


.container {
    max-width: 1500px;
    margin: 0px auto;
    padding: 0px 30px;
}

.navbar {
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    /* color: lightblue; */
    text-shadow: 0px 0px 4px white;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header {
    background-color: rgba(40, 40, 40, 0.98);
    min-height: 400px;
    /* background-color: #3474e6; */
}


.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}
/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
} */

.header .container {
    background-color: rgba(40, 40, 40, 0.98);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .boxes {
    min-height: 400px;
} */


.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background-color: rgba(40, 40, 40, 0.98);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 20px 10px;
    padding: 10px 30px;
}

.box i {
    margin-right: 20px;
}


@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        /* max-width: 500px; */
        display: block;
        /* flex-direction: column; */
        text-align: center;
    }
}